* {
  margin: 0;
}
/* div {
  margin: 50px;
  
} */
p {
  text-align: center;
  padding-top: 10px;
}

.main {
  background-color: #d5effe;
  max-height: 100%;
  max-width: 100%;
  /* margin: 10%; */
  /* margin: 0px 300px 0px 50px;  */
  /* บน-ขวา-ล่าง-ซ้าย */
  /* margin-left: 50px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.dotted {
  margin: 10px 10px 10px 10px;
  height: 50px;
  border: 10px dotted #4A4746;
  text-align: center;
  color: #4A4746;
}
.dotted:hover {
  padding-top: 10px;
  max-height: 100px;
  border: 20px dotted #000;
  color: red;
  background-color: royalblue;
  text-transform: uppercase;
}
.dashed {
  max-height: 100px;
  margin: 10px 10px 10px 10px;
  border: 10px dashed #4A4746;
  text-align: center;
  color: #4A4746;
}
.dashed:hover {
  max-height: 100px;
  border: 20px dashed #000;
  color: red;
  background-color: whitesmoke;
  text-transform: uppercase;
}
.solid {
  border: 2px solid black;
}
.double {
  margin: 10px;
  border: 15px double #4A4746;
}
.groove {
  margin: 10px;
  border: 15px groove #4A4746;
  background-color: whitesmoke;
}
.ridge {
  margin: 10px;
  border: 15px ridge #c22626;
  background-color: floralwhite;
}
.inset {
  margin: 10px;
  border: 15px inset #4A4746;
  background-color: darkgrey;
}
.outset {
  margin: 10px;
  border: 15px outset #4A4746;
  background-color: whitesmoke;
}
.none {
  margin: 10px;
  border: 15px none #4A4746;
  background-color: whitesmoke;
}
.hidden {
  margin: 10px;
  border: 15px hidden #4A4746;
  background-color: whitesmoke;
}


