.flex-container {
  display: flex;
  flex-flow: row wrap;
  /* flex-direction: row;
  flex-wrap: wrap; */
  /* short hand คือ flex-flow: row wrap; */
  /* ถ้าใส่ Attribute flex-wrap เวลายืดหดหน้าจอมันจะเลื่อนตาม */

  justify-content: space-around;
  /* justify-content: space-between; */
  /* justify-content: center;
  justify-content: start; */
  /* justify-content: end; */

} 

.flex-container {
  
}

.flex-items-1, .flex-items-2, .flex-items-3, .flex-items-4, .flex-items-5 {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #33CCFF;
}


