/* reset index */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* top menu */
.top-menu {
  position: absolute;
  display: flex;
  background-color: gray;
  justify-content: space-between;
  align-content: center;
  color: #fff;
  width: 100%;

}
.logo {
 
}
.right-logo {
  display: flex;
  position: absolute;
  flex-flow: row wrap;
  background-color: gold;
  
  /* justify-content: end; */
}

